**Types of Objects in Python**
- Immutable Objects
- Mutable Objects

**Immutable Objects**
- Integer    - int
- Float      - float
- String     - str
- Boolean    - bool
- Tuple      - tuple

**Mutable Objects**
- List       - list
- Set        - set
- Dictionary - dict

**List**

In [1]:
## List should be included in the square brackets.
## Mutable means we can change once created.
list1=[1,2,3,4,5,6,7]
print(list1)
type(list)

[1, 2, 3, 4, 5, 6, 7]

type

In [4]:
## List can have multiple data types
list2=[1,2,3,"Raju",4,5,6]
print(list2)

[1, 2, 3, 'Raju', 4, 5, 6]

**Lists are mutable - changeable**

In [5]:
## Add elements to a list
list2.append(7)
print(list2)

[1, 2, 3, 'Raju', 4, 5, 6, 7]

In [6]:
## Add elements to a list
list2.append('Ram')
print(list2)

[1, 2, 3, 'Raju', 4, 5, 6, 7, 'Ram']

In [9]:
## print elements of a lsit using their index
print(list1)
len(list1)

[1, 2, 3, 4, 5, 6, 7]

7

In [10]:
list1.append(8)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
## Delete an item in a list
print(list1)
del list1[6]
print(list1)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]

**Tuple**

In [13]:
## Denoted by paranthesis
tuple1=(1,2,3,4,5,6,7)
print(tuple1)
type(tuple1)

(1, 2, 3, 4, 5, 6, 7)

tuple

In [14]:
## Tuple allow multiple data types.
tuple2=(1,2,3,'Raju',4,5,6)
print(tuple2)

(1, 2, 3, 'Raju', 4, 5, 6)

In [15]:
## Converting list to tuple
l=[1,2,3,4]
print(l)

t=tuple(l)
print(t)

[1, 2, 3, 4]
(1, 2, 3, 4)

In [16]:
print(t[1])
print(t[2])

2
3

**Tuples are immutable - unchangeable**

In [18]:
## It shows an attribute error beacuse it is an imutable
t.append(5)

AttributeError: ignored

In [19]:
print(len(t))

4

**Set**

In [20]:
## Set is denoted by Curley brackets
my_set={1,2,3,4,5,6}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5, 6}

set

In [22]:
## We cannot acces elements in the set using an index
## It gives type error
my_set[0]

TypeError: ignored

In [23]:
## Convert a list to set
print(list1)

[1, 2, 3, 4, 5, 6]

In [24]:
s=set(list1)
print(s)

{1, 2, 3, 4, 5, 6}

In [25]:
## Set does not allow dulplicate values
s1={1,2,3,4,4,5,5,6,2,1,3,3}
print(s1)

{1, 2, 3, 4, 5, 6}

**Dictionary**
- It contains key-value pairs

In [26]:
my_dict={'Name':'Vinay','Age':23,'Country':'India'}
print(my_dict)
type(my_dict)

{'Name': 'Vinay', 'Age': 23, 'Country': 'India'}

dict

In [30]:
print(my_dict['Name'])
print(my_dict['Age'])
print(my_dict['Country'])

Vinay
23
India

In [31]:
print(my_dict)

{'Name': 'Vinay', 'Age': 23, 'Country': 'India'}

In [32]:
my_dict1={'Name':'Vinay','Age':23,'Country':'India','Name':'Vinay','Age':23,'Country':'India'}
print(my_dict1)

{'Name': 'Vinay', 'Age': 23, 'Country': 'India'}

In [33]:
my_dict1={'Name':'Vinay','Age':23,'Country':'India','Name':'Raju','Age':22,'Country':'India'}
print(my_dict1)

{'Name': 'Raju', 'Age': 22, 'Country': 'India'}