**Operators in Python**
- Arithmetic Operators
- Assignment Operators
- Comparison Operators
- Logical Operators
- Identity Operators
- Membership Operators

**1.Arithmetic Operators**

In [3]:
n1=10
n2=20

## Addition
add=n1+n2
print("Addition =",add)

## Subtraction
sub=n1-n2
print("Subtraction =",sub)

## Multiplication
mul=n1*n2
print("Product =",mul)

## Division
div=n1/n2
print("Quotient =",div)

## Modulus
mod=n1%n2
print("Reminder =",mod)

## Exponent
exp=n1**n2
print("Exponent =",exp)

Addition = 30
Subtraction = -10
Product = 200
Quotient = 0.5
Reminder = 10
Exponent = 100000000000000000000

**2.Assignment Operators**
- +=
- -=
- *=
- **=
- /=
- %=

In [4]:
a=5
print(a)

5

In [5]:
a=5
a+=5 ## a=a+5
print(a)

10

In [7]:
b=10
b-=5 ## b=b-5
print(b)

5

**3.Comparison Operators**
- ==
- !=
- <
- <=

In [8]:
a=20
b=10

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
True
False
False
True

**4.Logical Operators**
- and
- or
- not

In [9]:
a = 20

print(a>20 and a>5)
print(a>20 or a>5)
print(not(a>10 and a>5))

False
True
False

**5.Identify Operator**
- is
- is not

In [10]:
x=5
y=5
print(x is y)

True

In [11]:
x=5
y=10
print(x is y)

False

In [12]:
x=5
y=5
print(x is not y)

False

In [13]:
x=5
y=10
print(x is not y)

True

**6.Membership Operator**
- in
- not in

In [15]:
a=5
b=10

c=[1,2,3,4,5]
print(a in c)
print(b in c)

True
False

In [16]:
a=5
b=10

c=[1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True

simple **if else** statement

In [17]:
a=30
b=50

if(a>b):
  print("a is the big number")
else:
  print("b is the big number")

b is the big number

In [18]:
a=int(input("Enter the First Number: "))
b=int(input("Enter the Second Nummber: "))

if a>b:
  print("First Number is Big")
else:
  print("Second Number is Big")

Enter the First Number: 20
Enter the Second Nummber: 21
Second Number is Big

**if elif else** statement

In [26]:
a=1
b=2
c=8

if a>b:
  print("a is big")
elif b>c:
  print("b is big")
else:
  print("c is big")

c is big

**nested if** statement

In [27]:
a=20
b=40
c=60

if a>b:
  if a>c:
    print("a is big")
  else:
    print("c is big")
else:
  if b>c:
    print("b is big")
  else:
    print("c is big")

c is big

**for** loop

In [28]:
l1=int(input("Enter the Price: "))
l1=int(input("Enter the Price: "))

Enter the Price: 25000
Enter the Price: 35000

In [30]:
for i in range(7):
  print(i)

0
1
2
3
4
5
6

In [31]:
n=[50,100,150,200]
print(n[0])
print(n[1])
print(n[2])
print(n[3])

50
100
150
200

In [32]:
for i in n:
  print(i)

50
100
150
200

**while** loop

while condition:

    statement

In [35]:
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [37]:
i=5
while i<10:
  print(i)
  i+=1

5
6
7
8
9

**Functions**
- Function is a block of code that can be reused in a Program

In [49]:
## Factorial of a Number
## Factorail of a number is the product of all the positive integers less than or equal to the given number.
## Factorail of 5 = 5*4*3*2*1 = 120

n=int(input("Enter the number to find factorial: "))
f=1
for i in range(1,n+1):
  f=f*i
print("The factorial is:",f)

Enter the number to find factorial: 10
The factorial is: 3628800

**Factorial Function**

In [50]:
def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f

In [51]:
fact(5)

120

In [52]:
fact(6)

720

In [54]:
fact(7)

5040